Repository HumanCellAtlas/dcp-community, pull requests merged in 2018-11, with the labels that each got.

#24 Ingest Support charter
  charters/IngestSupport/charter.md
Labels: charter-oversight-review

#23 PM Charter
  charters/PM/charter.md
Labels: charter-approved

#27 RFC Process
  rfcs/rfc-template.md
  rfcs/text/0001-rfc-process.md
Labels: Governance, rfc-approved

#48 Editorial updates to RFC process
  README.md
  rfcs/text/0001-rfc-process.md
Labels: community-content

#44 Data Browser Charter
  charters/DataBrowser/charter.md
Labels: charter-approved

#10 Data Portal Charter
  charters/DataPortal/charter.md
Labels: charter-approved

#50 Updates to Charter Process
  charters/README.md
  charters/charter-template.md
Labels: charter-process
