Repository HumanCellAtlas/dcp-community, pull requests merged in 2019-05, with the labels that each got.

#75 RFC Resource Tagging
  rfcs/text/0006-resource-tagging.md
Labels: Architecture, rfc-approved

#76 Compliance WG Charter
  charters/Compliance-WG/charter.md
Labels: charter-community-review

#70 Adding DCP support for image based-transcriptomics
  rfcs/text/0000-image-base-transcriptomics.md
Labels: Architecture, Informational, rfc-oversight-review

#79 Compliance WG Charter
  charters/Compliance-WG/charter.md
Labels: charter-approved
