Repository HumanCellAtlas/dcp-community, pull requests merged in 2019-10, with the labels that each got.

#104 Data Operations charter
  charters/DataOperations/charter.md
Labels: charter-approved

#103 Data Citation Plan
  rfcs/text/0014-data-citation-plan.md
Labels: Architecture, rfc-oversight-review

#115 RFC project completion stage
  rfcs/text/0015-project-completion-stage.md
Labels: rfc-approved

#117 Deletion RFC updates
  rfcs/text/0004-dss-deletion-process.md
Labels: rfc-approved

#109 Proposing changes/updates to the RFC process.
  PULL_REQUEST_TEMPLATE.md
  rfcs/text/0001-rfc-process.md
Labels: Governance, rfc-oversight-review
